extends layout
block content
    form(method="GET", action="/search")
        label(for='search_key') Search
        input#search_key(name='search_key', placeholder="search movies by title..")
        button#btn_submit Go
