extends layout
block content
    div#carouselExampleControls.carousel.slide(data-bs-ride="carousel")
        div.carousel-inner
            div.carousel-item.active.banner-container
                //- https://www.pexels.com/photo/assorted-vegetables-on-brown-wooden-table-1414651/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels
                img.d-block.w-100(src="images/veggies.jpg", alt="...")
            div.carousel-item.banner-container
                //- https://www.pexels.com/photo/assorted-color-beans-in-sack-1393382/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels
                img.d-block.w-100(src="images/grains.jpg", alt="...")
            div.carousel-item.banner-container
                //- https://www.pexels.com/photo/assorted-sliced-fruits-1128678/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels
                img.d-block.w-100(src="images/fruits.jpg", alt="...")
        button.carousel-control-prev(type="button", data-bs-target="#carouselExampleControls", data-bs-slide="prev")
            span.carousel-control-prev-icon(aria-hidden="true")
            span.visually-hidden Previous
        button.carousel-control-next(type="button", data-bs-target="#carouselExampleControls", data-bs-slide="next")
            span.carousel-control-next-icon(aria-hidden="true")
            span.visually-hidden Next
    section
        div.container
            div.row
                h2 Popular Categories
                div.col.popular
                    a(href="/list") Fruits
                div.col.popular
                    a(href="/list") Veggies
                div.col.popular
                    a(href="/list") Dairy
                div.col.popular
                    a(href="/list") Spices
                div.col.popular
                    a(href="/list") Rice & Noodles
            div.row
                h2 Popular Products
                div.col.popular
                    a(href="/list") Milk
                div.col.popular
                    a(href="/list") Onion
                div.col.popular
                    a(href="/list") Potato
                div.col.popular
                    a(href="/list") Basmati Rice
                div.col.popular
                    a(href="/list") Eggs
