doctype
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width")
        title #{title}

        link(rel="stylesheet", href="css/style.css")
    body
        header
            h1 Movie Reviews
        main
            hr
            block content
        footer
            p &copy; COPYRIGHT | Pallav Dubey 2022
