extends layout
block content
    div.product-list
        h2 Products
        section.product
            //- https://www.pexels.com/photo/a-red-onion-over-a-white-surface-7890164/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels
            div.product-img
                img(src="images/red-onion.jpg", alt="")
            div.product-details
                h3 Red Onion
                p Quantity: 1kg
                p Price: $3.95
                p Standard Delivery: Tomorrow 3:30PM
                p Express Delivery: in 90 mins
                button.btn.btn-primary ADD

        section.product
            //- https://www.pexels.com/photo/basket-with-fresh-potatoes-placed-on-counter-in-market-7129145/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels
            div.product-img
                img(src="images/potato.jpg", alt="")
            div.product-details
                h3 Potato
                p Quantity: 1kg
                p Price: $3.95
                p Standard Delivery: Tomorrow 3:30PM
                p Express Delivery: in 90 mins
                button.btn.btn-primary ADD
        section.product
            //- https://www.pexels.com/photo/shallow-focus-photography-of-sliced-lemon-1021756/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels
            div.product-img
                img(src="images/lemon.jpg", alt="")
            div.product-details
                h3 Lemon
                p Quantity: 1kg
                p Price: $3.95
                p Standard Delivery: Tomorrow 12:30PM
                p Express Delivery: Not available
                button.btn.btn-primary ADD
        section.product
            //- https://www.pexels.com/photo/red-chili-lot-1086719/?utm_content=attributionCopyText&utm_medium=referral&utm_source=pexels
            div.product-img
                img(src="images/red-chilli.jpg", alt="")
            div.product-details
                h3 Red Chilli
                p Quantity: 1kg
                p Price: $3.95
                p Standard Delivery: Tomorrow 3:30PM
                p Express Delivery: in 90 mins
                button.btn.btn-primary ADD
        