extends layout
block content
    each movie in data
        h2
            a(href='/movie?id=' + movie.id) #{movie.title}
        p Released: #{movie.year}
        img(src=movie.poster, alt=movie.title + "poster")
