@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

h1,
h2,
h3 {
  font-family: "Bebas Neue", cursive;
  text-transform: uppercase;
}

h1 {
  color: rgb(132, 194, 37);
}

body {
  font-family: "Roboto", sans-serif;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  background: #eaeaea;
}

footer p {
  margin: 0;
}

@media screen and (max-width: 600px) {
}
