@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto&display=swap");

h1 {
  font-family: "Major Mono Display", monospace;
}

.heading {
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: gold;
  font-weight: 500;
}
